@import '~@fluentui/react/dist/sass/References.scss';

$themeBody: '[theme:bodyText, default:#323130]';
$themeLink: '[theme:link, default:#03787c]';
$themeLinkHover: '[theme:linkHovered, default:#014446]';


.apiDemo {
  overflow: hidden;
  padding: 1em;
  color: $themeBody;
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;

  h2 {
    margin-top: 0;
  }
}

a.link {
  text-decoration: none;
  color: $themeLink;
  color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

  &:hover {
    text-decoration: underline;
    color: $themeLinkHover;
    color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
  }
}

.commandBarGroups {
  border-bottom: 1px dotted $themeLink;
  border-bottom-color: $themeLink;
}

.commandBarActions {
  border-bottom: 1px solid $themeLink;
  border-bottom-color: $themeLink;
}

.query {
  border-bottom: 1px dotted $ms-color-themeLight;
  padding-bottom: 1em;
}

.queryUrl {
  padding-bottom: 1em;
}

.responseJson {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 465px;
  max-height: 465px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid $themeBody;
}

.jsCommandBar {
    box-sizing: border-box;
    border-bottom: 1px dotted $themeBody;
}

.responseJsonOutput {
  box-sizing: border-box;
  padding: .5em;
  margin: 0;
  width: 100%;
  flex: 1;
  overflow: auto;
}


.javascriptSamples {
  width: 100%;
  box-sizing: border-box;
}

.copyQuery {
  align-self: end;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none;
  border-color: $themeBody;
}